.test_1 {
    background-color: blue;
}
.box {
    width: 300px; 
    height: 30px;
    background-color: rgb(red, green, blue);
    border: 3px solid red;
    padding: 50px;
    margin-bottom: 50px;
}
.box-2 {
    box-sizing: border-box;
}
/*tất cả element */
* {
    box-sizing: border-box;
}
/*Combitor selector - hậu duệ */
section .box-2{
    width: 100px;
    height: 100px;
    background-color: purple;
}